@import url(_reset.css);
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Inter:wght@600;700&display=swap');

.menunav {
    display: flex;
    flex-direction: column;
    
}



#menu ul { 
    padding:30px;
    margin:0px 0px 30px 0px;
    background-color:rgb(43, 52, 110);
    list-style:none;
    width: 100%;
    
}
  
    #menu ul li { 
    display: inline;
    
}

#menu ul li a { 
    padding: 2px 10px; 
    display: inline-block; /* visual do link */ 
    background-color: rgb(43, 52, 110); 
    color: #f6f1ff; 
    text-decoration: none; 
     
    font-size: 30px;
}


.body {
    color: #FFFFFF;

    min-height: 100vh;

    background: rgb(0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(1, 8, 14, 1) 25%, rgba(80, 94, 255, 0.85) 50%, rgba(1, 8, 14, 1) 75%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}

@media screen and (min-width: 1440px) {
    .main {
        padding: 2rem calc((100vw - 1086px)/2);
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisor {
    display: flex;
    gap: 53px;
    align-items: center;

    margin: 88px 0px 40px;
}

.divisor__line {
    height: 1px;
    width: 282px;
    background-color: #00F4BF;
}

.page-title {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 5rem;

    margin-bottom: 2.5rem;
}

.page-subtitulo {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 3rem;

    margin-bottom: 2.5rem;
}

.page-title__emphasis {
    color: #505EFF;
}

.dashboard {
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: #00F4BF;

    padding: 3rem; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.dashboard__items {
    display: flex;
    justify-content: space-between;
}

.dashboard__items__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Inter', sans-serif;
}

.dashboard__item__img {
    box-shadow: 0px 0px 24px 8px rgba(24, 118, 232, 0.25);

    margin-bottom: 1rem ;
}

.dashboard__item__img--rented {
    position: relative;
}

.dashboard__item__img--rented::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    
    background-color: rgba(1, 8, 14, 0.4);
}

.dashboard__item__name {
    font-weight: 600;
    font-size: 2rem;

    margin-bottom: 2.5rem;
}

.dashboard__item__button {
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: 1.5rem;

    padding: 1rem 1.5rem;
    min-width: 13rem;

    border-radius: 1rem;

    background-color: #1875E8;
}

/* .dashboard__item__button--return {
    background-color: #01080E;
} */

.hachuras {
    margin-top: 1.5rem;
    margin-right: 33px;
    align-self: flex-end;
}

.dashboard__item__name__contato {
    font-weight: 600;
    font-size: 2rem;
    padding: 0rem 19.9rem;
    
    margin: 0rem 0 3rem;
    
}

form {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  button {
    background-color: #0faae7;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #004bbb;
  }

  

 


    